.bg-white {
  background-color: #ffffff;
}

.bg-light {
  background-color: #f0f0f0;
}

.bg-dark {
  background-color: #333333;
  color: #ffffff;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}
