.rotate-box {
  transform: rotate(45deg);
  background-color: #ffab91;
  padding: 20px;
  color: #ffffff;
}

.scale-box {
  transform: scale(1.5);
  background-color: #81c784;
  padding: 20px;
  color: #ffffff;
}

.translate-box {
  transform: translate(50px, 100px);
  background-color: #2196f3;
  padding: 20px;
  color: #ffffff;
}

.skew-box {
  transform: skew(20deg, 10deg);
  background-color: #ff7043;
  padding: 20px;
  color: #ffffff;
}

.matrix-box {
  transform: matrix(1, 0.5, -0.5, 1, 0, 0);
  background-color: #4caf50;
  padding: 20px;
  color: #ffffff;
}
